@import "reset.css";
@import "clock.css";
@import "greeting.css";
@import "search.css";
@import "weather.css";
@import "todo.css";
@import "background.css";
@import "calendar.css";

* {
  margin: 0;
  padding: 0;

  font-family: "arial", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
}
